html{background-color: blanchedalmond;}
body{
    font-family: Arial, Helvetica, sans-serif;
    width: 1024px;
    margin: 0 auto;    background-color: #fff;
}
header{
    height: 110px;
    display:block;
    background-color: aqua;
    margin: 0 auto;justify-content: space-around;
}
#gra{
    background-image: linear-gradient(#00d6f7, #017d91);
  }
.logo{
    display: inline-block;
    width: 35%;
    height: 80px;
}
.logo img{
    height: 50px;
    display:inline-block;
    margin-top: -10px;
    position: relative;
    left: 70px;top: 15px;
}
header a{
    display: inline-block;
    font-weight: 800;
    color: rgb(36, 36, 102);
    font-size: 27px;padding-left: 70px;margin-top: 9px;
    text-decoration: none;
}

#search {
    width: 100%;padding-top: 10px;
}
#search form{margin-left: 70%;}
#search input{
    border: none;
    border-radius: 10px;
    outline:none;
}

#search button{
    width: 20px;
 	height: 20px;
    vertical-align: bottom;
 	display: inline-block;
 	cursor: pointer;
 	background: white;
	border:none;
	border-radius:10px;
}
button img{
    max-width: 19px;
    position: relative;
    right: 5px;
}

nav{
    display: inline-block;
    vertical-align: bottom;
    margin-left: 100px;
}
nav img{
    
    max-height: 10px;
}

nav ul{
	margin: 0;
	padding: 0px 10px;
    background:#0b579e91 ;
}
nav ul li{
	display: inline-block;
	text-align: center;
    font-size: 15px;
    padding: 10px;
    color: #fff;
}
nav ul li:hover{
    background: #6db2f3da;
    cursor: pointer;
}
#box, main{
    padding: 0 20px;    
    display: inline-block;
}

#box{
    width: 60%;
    text-align: center;
    font-size: 90%;
    font-weight: bold;
}
.thke{
    background: rgb(247, 221, 174);
    margin-top: 5px;
    border-radius:5px;
}
.area{
    border-radius: 5px;
    padding: 3px;
    display: block;
    text-align: center;
    color: #fff;
    display: block;
}
.vn{
    background: crimson;}
.tg{
    background: rgb(20, 113, 220);
}

.nhiem, .dtri, .khoi, .tvong{
    display: inline-block;
    padding: 10px 0;
    width: 20%;
}

.nhiem{
    color: crimson;
}
.dtri{
    color: darkorange
    ;
}
.khoi{
    color: rgb(17, 187, 17);
}
.tvong{
    color: rgb(77, 75, 75);
}
.so{
    font-weight: bold;
}
#slide, #sidebar{
    display: inline-block;
    width: 25%;
}
#slide img{
    width:100%;
}
marquee{
    width: 95%;
    display: block;
    margin:0 auto;
    font-size: 25px;
    color: rgb(255, 6, 6);
    font-weight: bold;
    padding: 10px 0;
}

main{
    width: 70%;
}
#sidebar{
    vertical-align: top;
}

.title{
    border-left: navy 4px solid;display: block;
    padding: 2px 5px;
    font-weight: bold;
}
#dbien .thtin{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 400px;
    padding: 10px 0;
    margin-left: 20px;
}
.thtin p{
    background-color: rgba(206, 206, 206, 0.356);
    padding: 20px;
}

#tintuc, #dbien, #video{
    margin-top: 10px;
}

.tin{
    width: 32%;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
}
.tin img{
    height: 120px;
    overflow: hidden;
}
.tin a, .tin img{
    padding-left: 5px;
    display: block;
    margin: 0 auto;
    font-size: 90%;
    text-decoration: none;
    width: 90%;
    font-weight: bold;
}
.tin .day{
    font-size: 10px;
    color: black;
}
.back2top{
    display: block;
    width: 30px;
    height: 30px;
    background-color: rgb(112, 214, 10);
    color: #fff;
    text-align: center;
    float: right;
    position: fixed;
    bottom: 0px;
    right: 0px;
}