html{background-color: blanchedalmond;}
body{
    font-family: Arial, Helvetica, sans-serif;
    width: 1024px;
    margin: 0 auto;    background-color: #fff;
}
header{
    display:block;
    background-color: aqua;
    margin: 0 auto;justify-content: space-around;
}
#gra{
    background-image: linear-gradient(#00d6f7, #017d91);
  }
.logo{
    display: inline-block;
    width: 30%;
    height: 80px;
}
.logo img{
    height: 50px;
    display:inline-block;
    margin-top: -10px;
    position: relative;
    left: 70px;top: 15px;
}
.logo a{
    display: inline-block;
    font-weight: 800;
    color: rgb(36, 36, 102);
    font-size: 27px;padding-left: 70px;margin-top: 9px;
    text-decoration: none;
}

.search {
    float: right;
    padding: 10px 10px 0 0;
    }
.search > div {
      display: inline-block;
      position: relative;
    }
.search > div:after {
    content: "";
    background: white;
    width: 5px;
    height: 10px;
    position: absolute;
    top: 25px;
    right: -1px;
    transform: rotate(135deg);
    }
    
.search > div > input {
    color: white;
    font-size: 10px;
    background: transparent;
    width: 5px;
    height: 5px;
    padding: 10px;
    border: solid 3px white;
    outline: none;
    border-radius: 20px;
    transition: width 0.5s;
    }
    
.search > div > input::placeholder {
      color: #efefef;
      opacity: 0;
      transition: opacity 150ms ease-out;
}
    
.search > div > input:focus::placeholder {
      opacity: 1;
    }
    
.search > div > input:focus,.search > div > input:not(:placeholder-shown) {
      width: 100px;
    }

nav{
    width:fit-content;
    display: block;
    vertical-align: bottom;
    margin: 0 auto;
}
nav img{
    max-width: 20px;
    padding: 0px;
}

nav ul{
	margin: 0;
	padding: 0;
    background:#007b9d ;
}
nav ul li{
	display: inline-block;
	text-align: center;
    font-size: 15px;
    color: #fff;
    position: relative;
}
nav ul li a{
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: #fff;    
    vertical-align: center;
}
nav ul li a:hover{
    background: #6db2f3da;
    cursor: pointer;
}
.dropbtn {
    border: 1px solid transparent;
	text-decoration: none;
    color: #fff;
    display: inline-block;
    cursor: pointer;
}
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
  color: #000;
  padding: 12px 16px;
  background-color: #FFFFFF;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-content {
    z-index: 1;
  display: block;
}
.dropdown-content a:hover {background-color: #007b9d; color: #FFF;}

@keyframes example {
    from {border-top: 2px solid #FFCC00;}
    to   {border-top: 5px solid #FFCC00;}
}

/*box*/
#box, main{
    padding: 0 20px;    
    display: inline-block;
}

#box{
    width: 63%;
    text-align: center;
    font-size: 90%;
    font-weight: bold;
    vertical-align: top;
}
.thke{
    background: rgb(247, 221, 174);
    margin-top: 5px;
    border-radius:5px;display: flex;    
    margin-top: 15px;
}
.area{
    border-radius: 5px;
    padding: 3px;
    width: 80px;
    height: fit-content;
    display: block;
    text-align: center;
    color: #fff;
}
.vn{
    background: crimson;}
.tg{
    background: rgb(20, 113, 220);
}

.nhiem, .dtri, .khoi, .tvong{
    display: inline-block;
    padding: 20px 10px;
    width: 20%;
}

.nhiem{
    color: crimson;
}
.dtri{
    color: darkorange
    ;
}
.khoi{
    color: rgb(17, 187, 17);
}
.tvong{
    color: rgb(77, 75, 75);
}
.so{
    font-weight: bold;
}

/*SLIDE*/
#slider {
    width: auto;
    display: inline-block;
    vertical-align: bottom;
    margin: 10px 0 0 25px;
    overflow: hidden;
    z-index: 0;
}
  
  #stage {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  #shape {
    position: relative;
    margin: 0 auto;
    height: 168px;
    width: 280px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-animation: spin 15s infinite linear;
    -moz-animation: spin 15s infinite linear;
    -ms-animation: spin 15s infinite linear;
    animation: spin 15s infinite linear;
  }
  
  @-webkit-keyframes spin {
    from, 10% { transform: rotateY(0); }
    16.67%, 26.67% { transform: rotateY(-60deg); }
    33.34%, 43.34% { transform: rotateY(-120deg); }
    50.01%,60.01% { transform: rotateY(-180deg); }
    66.68%, 76.68% { transform: rotateY(-240deg); }
    83.35%, 93.35% { transform: rotateY(-300deg); }
    to { transform: rotateY(-360deg); }
  }
  .plane {
    position: absolute;
    height: 168px;
    width: 280px;
}
  
  .ring>.item-1 { transform: rotateY(0deg) translateZ(242px); }
  .ring>.item-2 { transform: rotateY(60deg) translateZ(242px); }
  .ring>.item-3 { transform: rotateY(120deg) translateZ(242px); }
  .ring>.item-4 { transform: rotateY(180deg) translateZ(242px); }
  .ring>.item-5 { transform: rotateY(240deg) translateZ(242px); }
  .ring>.item-6 { transform: rotateY(300deg) translateZ(242px); }
  


marquee{
    width: 95%;
    display: block;
    margin:0 auto;
    font-size: 25px;
    color: rgb(255, 6, 6);
    font-weight: bold;
    padding: 10px 0;
}

main{
    width: 63%;
}
#sidebar{
    vertical-align: top;
    width: 30%;
    display: inline-block;
    float: right;
}
/*Video*/
div#video {
    margin: 10px 0 10px 0;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 700px;
}
.title-video {
    font-size: 20px;
    padding: 10px 0;
    font-weight: 600;
}

.title{
    border-left: navy 4px solid;display: block;
    padding: 2px 5px;
    font-weight: bold;
}
#dbien .thtin{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 400px;
    padding: 10px 0;
    margin-left: 20px;
}
.thtin p{
    background-color: rgba(206, 206, 206, 0.356);
    padding: 20px;
}

#tintuc, #dbien, #video{
    margin-top: 10px;
}

.tin{
    width: 32%;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
}
.tin img{
    height: 120px;
    overflow: hidden;
}
.tin a, .tin img{
    padding-left: 5px;
    display: block;
    margin: 0 auto;
    font-size: 90%;
    text-decoration: none;
    width: 90%;
    font-weight: bold;
}
.tin .day{
    font-size: 10px;
    color: black;
}
  
footer{
    background: #017d91;
    color: #fff;
}
#fb-p, #tacgia, .svth{
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}
#tacgia a{
    display: block;
    margin: 0 auto;
}

.svth{
    display: inline-block;
    font-size: 70%;
    padding: 0 10px;
}
#call{
    position: fixed;
    bottom: 30px;
    left: 30px;
}
#call a{
    display: block;
color: black;
width: 30px;
}
#call a:after{
    content: "";
    position: absolute;
    left: 5px;
    top: 10px;
    width: 70px;
    height: 20px;
    margin-left: 0px;
    transition: .25s;
    z-index: -1;
}
#call a:hover:after{
    content: "Gọi ngay";
    background: green;
    width: 70px;
    height: 20px;
    margin-left: 40px;
    padding: 5px;
    border-radius: 5px;
    border-bottom-left-radius: 0 ;
    color: #fff;
}
.back2top{
    display: block;
    width: 30px;
    height: 30px;
    background-color: rgb(112, 214, 10);
    color: #fff;
    text-align: center;
    float: right;
    position: fixed;
    bottom: 0px;
    right: 0px;
}